body
{
    margin: 0;
}

::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; } ::-webkit-scrollbar-button:hover{ background-color: #AAA; } ::-webkit-scrollbar-thumb{ background-color: #CCC; } ::-webkit-scrollbar-thumb:hover{ background-color: #CCC; } ::-webkit-scrollbar-track{ background-color: #efefef; } ::-webkit-scrollbar-track:hover{ background-color: #7d7d7d; border-radius: 0px; } ::-webkit-scrollbar{ width: 7px; }

.ui-window
{
    display: flex;
    flex-flow: column;
    height: 100vh; 
}

.ui-main
{
    background-color: #00FFB8;
    flex: 1;
    display: flex;
}

/************/
/* Side Bar */
.ui-sidebar
{
    background-color: #7952C9;
    width: 200px;
    overflow-y: scroll;
}

.ui-sidebar-storage-item
{
    display: block;
    background-color: #F800AE;
    padding: 10px;
}

.ui-sidebar-storage-item button
{
    float: right;
}

.ui-sidebar-storage-item-notebooks
{
    display: block;
    text-decoration: none;
    list-style-type: none;
    margin: 10px 0 10px 10px;
    padding-left: 10px;
    cursor: pointer;
}

.ui-sidebar-storage-item-notebooks .selected
{
    background-color: blue;
}

.ui-sidebar-notebook-item
{
    background-color: rgb(255, 255, 255);
}

.ui-sidebar-notebook-item:hover
{
    background-color: rgb(112, 77, 209);
}


/********************************/
/* Left Viewport Bar - NoteList */
.ui-note-list
{
    background-color: #FFAE00;
    width: 300px;
    display: flex;
    flex-direction: column;
    
}

.ui-note-list-header
{
    background-color: #00C3FF;
    padding: 10px;
}

.ui-note-list-header button
{
    float: right;
}

.ui-note-list-item 
{
    display: block;
    text-decoration: none;
    list-style-type: none;
    margin: 10px 0 10px 10px;
    padding-left: 10px;
    background-color: white;
    cursor: pointer;
}

.ui-note-list-item.selected
{
    background-color: blue;
}

.ui-note-list-item:hover
{
    background-color: rgb(37, 150, 107);
}

.ui-note-list-content
{
    overflow-y: auto;
}

/*********************************/
/* Right Viewport Bar - NoteView */
.ui-note-view
{
    background-color: #52C98F;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ui-note-view-header
{
    background-color: #648792;
    height: 30px;
    padding: 10px;
}

.ui-note-view-content
{
    background-color: #BFD1D6;
    overflow-y: auto;
}
/*Main Window Tool Bar*/
.ui-toolbar
{
    display: flex;
    background-color: red;
    height: 40px;
}

.ui-toolbar-item
{
    margin: 5px;
    min-width: 100px;
}

.ui-toolbar-spacer
{
    margin-left: auto;
}

/*Main Window Status Bar*/
.ui-statusbar
{
    display: flex;
    background-color: #152E42;
    height: 20px;
}

/*Misc*/
.text-unselect 
{
    user-select: none;
}