/* NOTE LINK CSS */

/* GLOBAL */
:root 
{
    /* Window Colors */
    --window-border: #3A3D45;
    --window-bar-bg: #1D1F24;
    --window-bar-item-hover-bg: #5cbf2a;
    --window-bar-item-active-bg: #5c1f2a;

    /* Toolbar Colors */
    --toolbar-bg: #24262D;
    --toolbar-separator: #3A3D45;
    --toolbar-item-color: #c0c4c8;
    --toolbar-item-color-hover: #ffffff;
    --toolbar-item-color-active: #ffffff;

    /* Sidebar */
    --sidebar-bg: #24262D;
    /* Item Background*/
    --sidebar-item-bg-hover: #3A3D45;
    --sidebar-item-bg-active: #848c94;
    --sidebar-item-bg-selected: #2A2D35;
    --sidebar-item-bg-selected-hover: #3A3D45;
    /* Item Text Color*/
    --sidebar-item-color: #c0c4c8;
    --sidebar-item-color-hover: #ffffff;
    --sidebar-item-color-selected: #ffffff;
    --sidebar-item-color-selected-hover: #c0c4c8;

    /* Sidebar Storage Item*/
    --sidebar-storage-item-bg:#1D1F24;
    --sidebar-storage-item-color: #c0c4c8;

    /* Contet Menu */
    --context-menu-background:#24262D;
    --context-menu-border:#44464D;
    --context-menu-item-color:#848c94;
    --context-menu-item-color-hover:#3A3D45;
    
    /* Note List*/
    --note-list-header-bg: #2A2D35;
    --note-list-header-color: #fff;
    --note-list-content-bg: #2D3038;

    --note-list-header-button-bg: none;
    --note-list-header-button-bg-hover: #c0c4c8;
    --note-list-header-button-bg-active: #848c94;

    --note-list-item-color: #3A3D45;
    --note-list-item-color-hover: #3A3D45;
    --note-list-item-color-selected: #3A3D45;
    --note-list-item-header-color: #848c94;
    --note-list-item-title-color: #c0c4c8;
    --note-list-item-title-color-selected: #fff;

    /* Note View*/
    --note-view-header-bg: #24262D;
    --note-view-header-color: #c0c4c8;
    --note-view-content-bg: #24262D;
    --note-view-content-color: #d0d4d8;

    /* ************** */
    /* Generic Colors */

    /* Accent */
    --accent-bg-orange:#DE9536;
    --accent-bg-blue:#569cd6;
    
    /* Fonts */
    --font-brighter-color: #ffffff;
    --font-bright-color: #d0d4d8;
    --font-normal-color: #c0c4c8;
    --font-dark-color: #848c94;

    /* Backgrounds */
    --bg-color-dark: #1D1F24;
    --bg-color-normal: #24262D;
    --bg-color-light: #2D3038;

    /* Borders */
    --border-color-dark: #1D1F24;
    --border-color-normal: #3A3D45;
    --border-color-light: #44464D;
    
    /* Images */
    --icon-window-close: url(../img/icons/icon_close.png);
    --icon-window-maximize: url(../img/icons/icon_maximize.png);
    --icon-window-minimize: url(../img/icons/icon_minimize.png);
    --icon-window-options: url(../img/icons/icon_options.png);
    --icon-window-add: url(../img/icons/icon_add.png);
    --icon-window-notebook: url(../img/icons/icon_notebook.png);

    --icon-star-fill: url(../img/icons/icon_star_fill.png);
    --icon-star : url(../img/icons/icon_star.png);
}

@font-face 
{
    font-family: 'DroidSansMono';
    src: url("../fonts/droid_sans_mono.ttf"); 
}

/* Custom ScrollBar */
::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; } 
::-webkit-scrollbar-button:hover{ background-color: #AAA; } 
::-webkit-scrollbar-thumb{ background-color: #1D1F24; } 
::-webkit-scrollbar-thumb:hover{ background-color: #1D1F24; } 
::-webkit-scrollbar-track{ background-color: transparent; } 
::-webkit-scrollbar-track:hover{ background-color: transparent;}
::-webkit-scrollbar{ width: 8px; }

/* Body */
body
{
    margin: 0;
    user-select: none; 
    font-family: 'Roboto', sans-serif;
}

/* ICONS */

.icon-star-fill
{
    background: var(--icon-star-fill) no-repeat;
    background-size: 22px;
    background-position: center; 
}

.icon-star
{
    background: var(--icon-star) no-repeat;
    background-size: 22px;
    background-position: center; 
}

/* WINDOW */

.ui-window
{
    display: flex;
    flex-flow: column;
    height: 100vh; 
    border: solid var(--window-border) 1px;
    box-sizing: border-box;
}

/* Window Bar*/
.ui-windowbar
{
    -webkit-app-region: drag;

    position:relative;
    z-index:6;

    display: flex;
    background-color: var(--window-bar-bg);
    height: 32px;
}

.ui-windowbar-item
{
    -webkit-app-region: no-drag;
    background-color:var(--window-bar-bg);
    color:#ffffff;
    display:inline-block;
    font-size:17px;
    height: 32px;
    width: 48px;
    line-height : 32px
}

.ui-windowbar-item:hover 
{
    background-color:var(--window-bar-item-hover-bg);
}

.ui-windowbar-item:active 
{
    background-color:var(--window-bar-item-active-bg);
}

.ui-windowbar-item-close
{
    background: var(--icon-window-close) no-repeat;
    background-size: 18px;
    background-position: center; 
}

.ui-windowbar-item-minimize
{
    background: var(--icon-window-minimize) no-repeat;
    background-size: 18px;
    background-position: center; 
}

.ui-windowbar-item-maximize
{
    background: var(--icon-window-maximize) no-repeat;
    background-size: 18px;
    background-position: center; 
}

.ui-windowbar-item-options
{
    background: var(--icon-window-options) no-repeat;
    background-size: 18px;
    background-position: center; 
}

/* END WINDOW */

.ui-main
{
    flex: 1;
    display: flex;
}

/* Main Window Tool Bar */

.ui-toolbar
{
    position:relative;
    z-index:4;

    display: flex;
    height: 40px;
    background-color: var(--toolbar-bg);
    box-shadow: 0px 0px 21px #161616;
}

.ui-toolbar-item
{
    margin: 6px;
    min-width: 100px;

    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 14px;
    color: var(--toolbar-item-color);

}

.ui-toolbar-item:hover 
{
    color: var(--toolbar-item-color-hover);
}

.ui-toolbar-item:active 
{
    color: var(--toolbar-item-color-active);
}

.ui-toolbar-item:focus
{
    outline: none;
}

.ui-toolbar-separator
{
    margin: 6px;
    min-width: 1px;
    border-left: 1px solid var( --toolbar-separator);
}

.ui-toolbar-search
{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 20px;
    margin: 6px 0;
    color: white;
    font-size: 14px;
    flex-grow: 1
}

.ui-toolbar-search:focus
{
    outline: none;
}


/************/
/* Side Bar */
.ui-sidebar
{
    background-color: var( --sidebar-bg);
    flex: 0 0 200px;
    margin: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.ui-sidebar-header
{
    padding: 5px 0px 5px 20px;
    margin: 0px;
    font-size: 14px;
    color: var(--toolbar-item-color-hover);
}

.ui-sidebar-header-list
{
    list-style-type: none;
    padding-left: 0;
    margin: 8px 0px;
}

/* Sidebar List Item */
.ui-sidebar-header-list-item
{
    display: flex;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    text-decoration: none;
    color: var(--sidebar-item-color);

    font-size: 14px;
}


.ui-sidebar-header-list-item:hover
{
    background: var(--sidebar-item-bg-hover);
    color: var(--sidebar-item-color-hover);
}

.ui-sidebar-header-list-item.selected
{
    background: var(--sidebar-item-bg-selected);
    color: var(--sidebar-item-color-selected);
}

.ui-sidebar-header-list-item.selected:hover
{
    background: var(--sidebar-item-bg-selected-hover);
}

.ui-sidebar-header-list-item span
{
    width: 5px;
    height: 35px;
    margin-right: 20px;
}

.ui-sidebar-header-list-item.selected span
{
    background:var(--accent-bg-orange);
}


.ui-sidebar-header-list-separator
{
    border-bottom: 1px solid var(--context-menu-border);
    margin: 3px 10px 3px 10px;
}

.ui-sidebar-list
{
    overflow-y: scroll;
}
/* Sidebar Storage Item */

.ui-sidebar-storage-item
{
    display: flex;
    background-color: var(--sidebar-storage-item-bg);
    padding: 0px;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    font-size: 14px;
    color: var(--sidebar-storage-item-color);
    cursor:default;
}

.ui-sidebar-storage-item span
{
    margin-right: auto;
}

.ui-sidebar-storage-item-button-container
{
    background: none;
}

.ui-sidebar-storage-item-button-container:hover
{
    background: var(--sidebar-item-bg-hover);
}

.ui-sidebar-storage-item-button-container:active
{
    background: var(--sidebar-item-bg-active);
}

.ui-sidebar-storage-item-button 
{
    display:inline-block;
    background: var(--icon-window-add) no-repeat;
    background-size: 20px;
    background-position: center; 
    min-width: 35px;
    height: 35px;
    border: 0;
    border-radius: 0px;
    font-size: 14px;
    cursor:pointer;
}

.ui-sidebar-storage-item-button:focus
{
    outline: none;
}


/* Sidebar Notebook Item */
.ui-sidebar-storage-item-notebooks
{
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.ui-sidebar-notebook-item
{
    display: flex;
    margin: 0px;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
    color: var(--sidebar-item-color);
    font-size: 14px;
}

.ui-sidebar-notebook-item-title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.ui-sidebar-notebook-item:hover
{
    background: var(--sidebar-item-bg-hover);
    color: var(--sidebar-item-color-hover);
}

.ui-sidebar-notebook-item.selected
{
    background: var(--sidebar-item-bg-selected);
    color: var(--sidebar-item-color-selected);
}

.ui-sidebar-notebook-item span
{
    width: 5px;
    height: 30px;
    margin: 0px 30px 0px 0px;
}

.ui-sidebar-notebook-item.selected span
{
    background:var(--accent-bg-orange);
}
/********************************/
/* Left Viewport Bar - NoteList */
.ui-note-list
{
    background-color: #FFAE00;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    min-width: 0;

    z-index: 2;
    box-shadow: 0px 0px 17px 3px rgba(2, 2, 2, 0.377);

}

.ui-note-list-header-container
{
    display: flex;
    flex-direction: column;
    background: var(--note-list-header-bg);
    color: var(--note-list-header-color);
}

.ui-note-list-header
{
    display: flex;
    font-size: 14px;
    height: 45px;
    cursor:default;
}

.ui-note-list-header-icon
{
    display: block;
    background: var(--icon-window-notebook) no-repeat;
    background-size: 30px;
    background-position: center; 
    padding: 5px 0px 5px 5px;
    height: 35px;
    width: 35px;
    min-width: 45px;
}

.ui-note-list-header-title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: 13px 0px 7px 0px;
    height: 25px;
    line-height:25px;
    flex-grow: 1;
}


.ui-note-list-header-button-container
{
    background:var(--note-list-header-button-bg);
}

.ui-note-list-header-button-container:hover
{
    background:var(--note-list-header-button-bg-hover);
}

.ui-note-list-header-button-container:active
{
    background:var(--note-list-header-button-bg-active);
}

.ui-note-list-header-button
{
    display:inline-block;
    background: var(--icon-window-add) no-repeat;
    background-size: 20px;
    background-position: center; 
    min-width: 45px;
    height: 45px;
    border: 0;
    border-radius: 0px;
    font-size: 14px;
    cursor:pointer;
}

.ui-note-list-header-button:focus
{
    outline: none;
}

.ui-note-list-header-list-separator
{
    border-bottom: 1px solid var(--context-menu-border);
    margin: 0px 10px 3px 10px;
}

.ui-note-list-header button
{
    display: inline-block;
}

.ui-note-list-content
{
    flex: 1;
    background: var(--note-list-content-bg);

}

.ui-note-list-item 
{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    height: 80px;
    cursor: pointer;
}

.ui-note-list-item-content
{
    display: flex;
    flex-direction: column;
    height: 80px;
}

.ui-note-list-item-list-separator
{
    border-bottom: 1px solid var(--context-menu-border);
    margin: 3px 10px 3px 10px;
}

.ui-note-list-item-content.selected
{
    background: var(--note-list-item-color-selected);
}

.ui-note-list-item-content:hover
{
    background: var(--note-list-item-color-hover);
}

.ui-note-list-item-badge
{
    width: 10px;
    height: 10px;
    margin: 0px 5px 0px 0px;
    background:var(--accent-bg-orange);
}


.ui-note-list-item-header
{
    padding: 6px 10px;
    display: flex;
    font-size: 12px;
    font-weight: 400; 
    height: 20px;
    color: var( --note-list-item-header-color);
}

.ui-note-list-item-title-container
{
    padding: 6px 10px;
    display: flex;
    height: 15px;
    flex-grow: 1;
}

.ui-note-list-item-title
{
    font-size: 15px;
    font-weight: 400; 

    color: var( --note-list-item-title-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.ui-note-list-item-title.selected
{
    color: var( --note-list-item-title-color-selected);
}

.ui-note-list-item-title-edit-container
{
    display: flex;
    height: 20px;
    flex-grow: 1;
}

.ui-note-list-item-title-edit
{
    font-size: 15px;
    font-weight: 400; 
    flex-grow: 1;
    margin:auto;
    border:solid 1px #c0c4c8;
    background:none;
    color: var( --note-list-item-title-color);
}

.ui-note-list-item-title-edit::selection
{
    background: #AAA;
}

.ui-note-list-item-title-edit:focus
{
    outline: none;
}

/*********************************/
/* Right Viewport Bar - NoteView */
.ui-note-view
{
    background:var(--note-view-bg);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.ui-note-view-header-content
{
    display: flex;
    flex-direction: column;
    background: var(--note-view-header-bg);
    color:var(--note-view-header-color);
    height: 45px;
}

.ui-note-view-header-container
{
    flex-grow: 1;
    display: flex;
    padding-left: 20px;
    
}

.ui-note-view-header-container button
{
    min-width: 45px; 
    border: 0;
    border-radius: 0px;
    font-size: 14px;
    margin: 13px 0px 7px 0px;
    cursor:pointer;
}


.ui-note-view-header-title
{
    margin: 13px 0px 7px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;

    height: 25px;
    line-height:25px;
    font-size: 20px;
}

.ui-note-view-header-separator
{
    border-bottom: 1px solid var(--context-menu-border);
    margin: 0px 10px 3px 10px;
}

/* Note View content */
.ui-note-view-content
{
    user-select: text; 
    padding: 0 20px 0 20px;
    background: var(--note-view-content-bg);
    color: var(--note-view-content-color);
    font-weight:normal;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-note-view-content h4,h3,h2,h1
{
    color:var(--accent-bg-blue);
}

.ui-note-view-content hr
{
    border: 0px;
    border-bottom: solid 1px var(--font-dark-color);
}

.ui-note-view-content p>code
{
    color:var(--accent-bg-blue);
    padding: 2px;
}

.ui-note-view-content pre>code 
{
    background: var(--bg-color-dark);
    border-left: 10px solid var(--accent-bg-blue);
}

.ui-note-view-content blockquote
{
    background: var(--bg-color-dark);
    border-left: 10px solid var(--accent-bg-blue);
    padding: 5px;
}

.ui-note-view-content blockquote>p
{
    margin-left: 5px; 
}

.ui-note-view-content a
{
    color: var(--accent-bg-blue);
    font-size: 14px;
}

.ui-note-view-content-editor
{
    flex: 1;
    background: #24262D;
    height: 100%;
    position: relative
}

/*Main Window Status Bar*/
.ui-statusbar
{
    display: flex;
    background-color: var(--bg-color-dark);
    height: 20px;
    z-index: 4;
}

/*Misc*/
.ui-inline-spacer
{
    margin-left: auto;
    flex-grow: 1;
}

/*Popups*/
.ui-popup-layer
{
    z-index: 10;
    display: hidden;
    position: fixed;
    background-color:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    overflow:hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-popup-modal 
{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 390px;
    border: 1px solid var(--border-color-dark);
}

.ui-popup-modal header
{
    flex-basis: 25%;

    display: flex;
    flex-direction: column;
    background-color:var(--bg-color-dark);
}

.ui-popup-modal h2
{
    font-size: 18px;
    margin:auto auto 0 20px;
    color: var(--font-brighter-color);
}

.ui-popup-modal span
{
    margin:5px auto auto 20px;
    font-size: 12px;
    color: var(--font-dark-color);
}

.ui-popup-modal article
{
    display: flex;
    background: #5cbf2a;
    flex-basis: 55%;
    background-color:var(--bg-color-normal);
    border-bottom: 1px solid var(--border-color-normal);
    border-top: 1px solid var(--border-color-normal);
}

.ui-popup-modal-text
{
    margin: 20px auto 20px 20px;
    font-size: 16px;
    color: var(--font-normal-color);
}


.ui-popup-modal footer
{
    display: flex;
    background-color:var(--bg-color-dark);
    flex-basis: 20%;
    flex-grow: 0;
}

.ui-popup-modal button
{
    margin: auto;
    border: 1px solid var(--border-color-normal);
    background: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    line-height: 14px;
    color: var(--font-normal-color);
    padding: 10px 30px;
    margin: auto 10px;
}

.ui-popup-modal button:focus
{
    outline: none;
}

.ui-popup-modal button:hover 
{
    color: var(--font-brighter-color);
    background: var(--bg-color-normal);
    border: 1px solid var(--border-color-light);
}

.ui-popup-modal button:active 
{
    color: var(--font-dark-color);
}

/* External CSS */
/****************/
/* Context Menu */
.react-contextmenu {
    background-color: var(--context-menu-background);
    background-clip: padding-box;
    border: 1px solid var(--context-menu-border);
    border-radius: 0;
    color: var(--context-menu-item-color);
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: var(--context-menu-item-color);
	cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}
.react-contextmenu-item:focus {
    outline: none;
}
.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: var(--context-menu-item-color-hover);
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid var(--context-menu-border);
    cursor: inherit;
    margin: 0px 10px 3px 10px ;
    padding: 2px 0;
    
}

.react-contextmenu-item--divider:focus {
  outline: none;
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item 
{

}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}

/* Virtual list */

.ReactVirtualized__Grid:focus
{
    outline: none;
}
